
.portada__container--banner {
    padding-top: 10vh;
    background-image: url("/dist/image/perro_calle.jpg");
    @include bgBannerCenterParallax;
    height: 100vh;     
    text-align: center;
    padding-bottom: 10vh;
}

.portada__text--title  {
    @extend %headline_xlarge_ac;  
    font-family: $montserrat;
    text-shadow: 2px 2px rgb(4,4,4);     
    @include flexCenter(column);
 
}
.portada__text--paragraph {
    @extend %paragraph_pc ;
    font-family: $montserrat;
    padding-top: 10vh;;
    padding-bottom: 2vh;
    padding-left:   10vw;
    padding-right: 10vw;
    text-shadow: 1px 1px rgb(4,4,4);    
}
.portada__text--title, .portada__text--paragraph {
    padding-top: 2vh;
    justify-content: center;
}
.portada__myButton--donate {
    font-size: 3vh;
    @include myButton;
}
.colaborate__item--title {
    @extend %headline_xxlarge_pc;
    font-family: $montserrat;
    padding-top: 5vh;
    justify-content: center; 
    text-align: center;
    text-shadow: 1px 1px rgb(4,4,4);
    margin: 0;
}
.adopta__container--banner {   
    padding-top: 10vh;    
    background-image: url("/dist/image/sleeping-dog.jpg");
    @include bgBannerCenterParallax;
    height: 80vh;
    text-align: center;   
}
.adopta__text--paragraph {
    @extend %headline_xlarge_ac;
    font-family: $montserrat;
    padding-left:   15vw;
    padding-right: 15vw;
    text-shadow: 2px 2px rgb(4,4,4);    
}   
.colabora__container--cards {
    margin-bottom: 5vh;
}
