.temporal__box--1 {
    background-color: red;
    height: 100vh;
}
.temporal__box--2 {
    background-color: yellow;
    height: 100vh;
}
.temporal__box--3 {
    background-color: red;
    height: 100vh;
}