$primary-color:#23a454;

$secondary-color:#4e464b; //$secondary-color:rgb(164,35,114);
$accent-color:rgb(255, 255, 255); 
$background-color:rgb(210, 212, 181);
$montserrat:'montserrat',sans-serif;
$noto-serif:'noto serif', serif;

$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700,
    "xlbold":1000
);
/*rgb(232,236,240);*/

